1) From the below nested dictionary, pick the word "Bangalore". 
   d = {'1':'One','2':[1,{'Two':['Ch','Cbe','Salem',{'Place':[5,6,7,'Bangalore']}]}]}

In [2]:
d = {'1':'One','2':[1,{'Two':['Ch','Cbe','Salem',{'Place':[5,6,7,'Bangalore']}]}]}

In [4]:
d["2"][1]["Two"][3]["Place"][3]

'Bangalore'

2) Write a program to reverse a string using while loop

In [6]:
# Input string
original_string = input("Enter a string to reverse: ")

# Initialize variables
reversed_string = ""
i = 0

# Reverse the string using a while loop
while i < len(original_string):
    reversed_string = original_string[i] + reversed_string
    i += 1

# Output the reversed string
print("Reversed string:", reversed_string)

Enter a string to reverse:  my name is Ashu

Reversed string: uhsA si eman ym

In [5]:
str="my name is Ashu"
str

'my name is Ashu'

3) Write a program to find sum of all numbers from 1 to 20 using for loop

In [13]:
sum=0
for i in range(1,21):
    sum+=i
print("sum of all numbers ",i)

sum of all numbers  20

4) Write a program to display the numbers in reverse from 100 to 1

In [21]:
for num in range(100,0,-1):
    print(num, end="  ")

100  99  98  97  96  95  94  93  92  91  90  89  88  87  86  85  84  83  82  81  80  79  78  77  76  75  74  73  72  71  70  69  68  67  66  65  64  63  62  61  60  59  58  57  56  55  54  53  52  51  50  49  48  47  46  45  44  43  42  41  40  39  38  37  36  35  34  33  32  31  30  29  28  27  26  25  24  23  22  21  20  19  18  17  16  15  14  13  12  11  10  9  8  7  6  5  4  3  2  1

5) Write program to test whether the given number lies between 1 and 10

In [24]:
num=int(input("enter the number:"))
if num>=1 and num<=10:
    print("number is lies between 1 to 10")
else:
    print("number is not lies between 1 to 10")

enter the number: 12

number is not lies between 1 to 10

6) Write program to display multiples of 2 from 10 to 50 using range

In [26]:
for i in range(10,51,2):
    print(i,end=" ")

10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50