## practice function program

### 1. Python function that prints a text

In [4]:
def text(masage):
    print(masage)

In [5]:
text("helloworld")

helloworld

#### 2. Python function that accepts two numbers as arguments and returns the sum

In [1]:
def  sum(num1,num2):
    res=num1+num2
    return res

In [2]:
sum(10,90)

100

### 3. Python function that accepts different values as parameters and returns a list

In [19]:
def create_list(*values):
    return list(values)

In [20]:
create_list(11,15,"hello",2.5)

[11, 15, 'hello', 2.5]

### 4. Python function that returns a dictionary

In [27]:
def create_dict():
    return {
        "name":"Ashwini",
        "age":18,
        "marks":50
    }

In [28]:
create_dict()

{'name': 'Ashwini', 'age': 18, 'marks': 50}

In [34]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
items_list = list(my_dict.items())
print(items_list)

[('a', 1), ('b', 2), ('c', 3)]

### 5. Python function that returns a tuple

In [35]:
def create_list(*values):
    return tuple(values)

In [38]:
create_list(16,"hiii",2.8,19,25,100)

(16, 'hiii', 2.8, 19, 25, 100)

### 6. Python function that accepts a list as a parameter

In [25]:
def reverse_list(lst):

    return lst[::-1]

my_list = [10.15,2.3,11,"hii",99,]
reversed_list = reverse_list(my_list)
print("The reversed list is:", reversed_list)

The reversed list is: [99, 'hii', 11, 2.3, 10.15]

### 7. Python function that accepts a dictionary as a parameter

In [31]:
def print_dictionary(d):
    for key, value in d.items():
        print(f"{key}: {value}")

my_dict = {'name': 'Alice', 'age': 30, 'city': 'New York'}
print_dictionary(my_dict)

name: Alice
age: 30
city: New York

#### ...8

In [35]:
def reverse_list(lst):

    return lst

my_list = [10.15,2.3,11,"hii",99,]
print(my_list)

[10.15, 2.3, 11, 'hii', 99]

### 9. Python function to check if a number is palindrome or not

In [40]:
def number(num):
    num=str(num)
    if num==num[::-1]:
        print("number is palindrom")
    else:
        print("not palindrom")

In [43]:
number(12121)

number is palindrom

### 10. Python function to find the factorial of a number

In [63]:
def num(n):
    fact=1
    for i in range(1,n):
        fact*=i   
        print(fact)

In [66]:
num(6)

1
2
6
24
120