## practice function program 2

### 1. Python function using positional arguments

In [7]:
def nameAge(name, age):
    print("Hi, I am", name)
    print("My age is",age)

In [21]:
print("case-1:")
nameAge("Riya",20)
print("\ncase-2:")
nameAge("Anu",25)

case-1:
Hi, I am Riya
My age is 20

case-2:
Hi, I am Anu
My age is 25

### 2. Python function using keyword arguments

In [19]:
def my_function(child3, child2, child1):
  print("The oldest child is " , child3)

my_function(child1 = "Sonal", child2 = "Abhi", child3 = "Saurav")

The oldest child is  Saurav

### 3. Python function using default arguments

In [16]:
def my_function(city = "Pune"):
  print("I am from ", city)

my_function("Latur")
my_function("shambhajinagar")
my_function()
my_function("Nagapur")
my_function()

I am from  Latur
I am from  shambhajinagar
I am from  Pune
I am from  Nagapur
I am from  Pune

### 4. Python function using optional arguments

In [23]:
def greet(name, greeting="Hello"):
    
    return f"{greeting}, {name}!"


print(greet("Aarohi", "Hi"))  

print(greet("Rohan"))

Hi, Aarohi!
Hello, Rohan!

### 5. assing an arbitrary number of arguments to a Python function

In [27]:
def print_numbers(*args):
    for number in args:
        print(number)


print_numbers(1, 2, 3, 4, 5)

1
2
3
4
5

#### 6. Python function that returns multiple values

In [24]:
def get_stats(numbers):
    return {
        'total': sum(numbers),
        'avg': sum(numbers) / len(numbers),
        'max': max(numbers),
        'mini': min(numbers)
    }


stats = get_stats([1, 2, 3, 4, 5])
print(stats)

{'total': 15, 'avg': 3.0, 'max': 5, 'mini': 1}

### 7. Python nested functions

In [30]:
def make_multiplier(factor):
    def multiplier(x):
        return x * factor
    return multiplier


double = make_multiplier(2)
triple = make_multiplier(3)

print(double(5))  
print(triple(5))

10
15

### 8. Write a Python function to find the maximum of three numbers.

In [33]:
def numbers(A,B,C):
    if A>=B and A>= C:
        return A
    elif B >= A and B >= C:
        return B
    else:
        return C

In [34]:
numbers(10,50,3)

50

#### 9. Write a Python function to sum all the numbers in a list.

In [53]:
def  sum_of_list(numbers):
    return sum(numbers)

In [54]:
list=[2,4,5,6,7]
result=sum_of_list(list)
print(list)
print(result)

[2, 4, 5, 6, 7]
24

### 10. Write a Python function to multiply all the numbers in a list.

In [57]:
def multiply(numbers):
    multi=1
    for i in numbers:
        multi*=i
    return multi

In [58]:
list2=[1,3,4,5,6]
final_result=multiply(list2)
print(final_result)

360

## Thank you