#### 1 . Write a Python program to print the following string in a specific format (see the output). Sample String : "Twinkle, twinkle, little star, How I wonder what you are! Up above the world so high, Like a diamond in the sky. Twinkle, twinkle, little star, How I wonder what you are" Output :
Twinkle, twinkle, little star, How I wonder what you are! Up above the world so high, Like a diamond in the sky. Twinkle, twinkle, little star, How I wonder what you are

In [9]:
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

#### 2. Write on program which accepts a sequence of comma-separated numbers from user and generate a list with those numbers

In [3]:
values = input("Input some comma seprated numbers : ")
list1 = values.split(",")
print(list1)

Input some comma seprated numbers :  10,11,13,15,18,20

['10', '11', '13', '15', '18', '20']

### 3.. Write a Python program to accept a filename from the user and print the extension of that

file_name=input('Enter the name of file:')
a=file_name.split('.')
print(a[1])

### 4 Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn

In [8]:
x = int(input("Input an integer : "))
n1 = int( "%s" % x )
n2 = int( "%s%s" % (x,x) )
n3 = int( "%s%s%s" % (x,x,x) )
print (n1+n2+n3)

Input an integer :  12

122436

### 5.Write a program to create, concatenate and print a string and
### accessing sub-string from a given string

In [9]:
s1=input('Enter the first string')
s2=input('Enter the second string')
print('The first string entered is',s1)
print('The second string entered is ',s2)
print('concatenation of two entered string',s1+s2)
print('Substring of s1',s1[1:3])
print('substring of s2',s2[2:3])

Enter the first string Ashwini
Enter the second string patil

The first string entered is Ashwini
The second string entered is  patil
concatenation of two entered string Ashwinipatil
Substring of s1 sh
substring of s2 t

#### 6.Write a python program to find largest of three numbers.

In [10]:
num1=float(input('Enter first number'))
num2=float(input('Enter second number'))
num3=float(input('Enter third number'))

if (num1>=num2) and (num1>=num3):
    print('The highest number is',num1)
elif (num2>=num1) and (num2>=num3):
    print('The highest number is ',num2)
else:
    print('The higest number is ',num3)

Enter first number 2
Enter second number 10
Enter third number 4

The highest number is  10.0

### ....7

max=6
for i in range(0,max+1):
    print("* "*i)
for i in range(max,0,-1):
    print("* "*i)

#### 8.Given a range of the first 10 numbers, Iterate from the start number to the end number, and In each iteration print the sum of the current number and previous number

In [22]:
def sumofnum(num):
    previousnum=0
    for i in range(num):
        sum=previousnum+i
        print('The current number is:',i ,'Previous numbers:',previousnum,'Sum is:',sum)
        previousnum=i

In [24]:
sumofnum(5)

The current number is: 0 Previous numbers: 0 Sum is: 0
The current number is: 1 Previous numbers: 0 Sum is: 1
The current number is: 2 Previous numbers: 1 Sum is: 3
The current number is: 3 Previous numbers: 2 Sum is: 5
The current number is: 4 Previous numbers: 3 Sum is: 7

### 9.Given a string, display only those characters which are present at an even index number.

In [25]:
def printEveIndexChar(str):
    for i in range(0, len(str)-1, 2):
        print("index[",i,"]", str[i] )

inputStr = "shubhangi" 
print("Orginal String is ", inputStr)

print("Printing only even index chars")
printEveIndexChar(inputStr)

Orginal String is  shubhangi
Printing only even index chars
index[ 0 ] s
index[ 2 ] u
index[ 4 ] h
index[ 6 ] n

### 10.Return the count of sub-string “Shubhangi” appears in the given string

In [26]:
str = "Shubhangi is good developer. Shubhangi is a Data Scientist"

In [29]:
cnt=str.count("Shubhangi")
cnt

2

## Thank you