## python practice question last 5

### 1.Write a Python program to convert temperatures to and from Celsius,
### Fahrenheit. [ Formula: c = (f-32)(5/9)]

In [1]:
temp=float(input('Enter temprature'))
unit=input('Enter unit')

if unit=='C' or unit=='c':
    newtemp=9/5*temp+32
    print('Temprature in ferenhite is',newtemp)
elif unit=='F' or unit=='f':
    newtemp=5/9*(temp-32)
    print('Temparture is celsius is',newtemp)
else:
    print('unknown unit passed')

Enter temprature 38
Enter unit c

Temprature in ferenhite is 100.4

### 2.Write a Python program to construct the following pattern, using a 
### nested for loop

In [22]:
for i in range(1,7,1):
    print("* "*i)
for k in range(1,7,1):
    print("* "*k)

*
* *
* * *
* * * *
* * * * *
* * * * * *
*
* *
* * *
* * * *
* * * * *
* * * * * *

3.Write a program that accepts the lengths of three sides of a triangle as inputs. The program output should indicate whether or not the triangle
is a right triangle (Recall from the Pythagorean Theorem that in a right triangle, the square of one side equals the sum of the squares of the other two sides).

In [27]:
base=float(input('Enter the base of triangle:'))
height=float(input('Enter the height of triangle:'))
hypo=float(input('Enter the hypo of triangle:'))
if hypo**2==((base**2)+(height**2)):
    print('Entered dimensions of right angle triangle')
else:
    print('The trianle is not right angled triganle')

Enter the base of triangle: 3
Enter the height of triangle: 4
Enter the hypo of triangle: 5

Entered dimensions of right angle triangle

#### 4.Write a program to Check if a string contains a specific

In [29]:
print( 'plane'in 'The worlds fastest plane' ) #=> True
print( 'car' in 'The worlds fastest plane' ) #=> False

True
False

### 5. Transpose of Matrix using Nested Loops  .

In [30]:
transposed = []
matrix = [[1, 2, 3, 4], [4, 5, 6, 8]]

for i in range(len(matrix[0])):
    transposed_row = []

    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)

print(transposed)

[[1, 4], [2, 5], [3, 6], [4, 8]]

### 7.Write a Python program to print alphabet pattern 'A'.

In [1]:
result_str="";    
for row in range(0,7):    
    for column in range(0,7):     
        if (((column == 1 or column == 5) and row != 0) or ((row == 0 or row == 3) and (column > 1 and column < 5))):    
            result_str=result_str+"*"    
        else:      
            result_str=result_str+" "    
    result_str=result_str+"\n"    
print(result_str)

  ***
 *   *
 *   *
 *****
 *   *
 *   *
 *   *

### 8. Write a Python program to print alphabet pattern 'G'.

In [2]:
result_str="";    
for row in range(0,7):    
    for column in range(0,7):     
        if ((column == 1 and row != 0 and row != 6) or ((row == 0 or row == 6) and column > 1 and column < 5) or (row == 3 and column > 2 and column < 6) or (column == 5 and row != 0 and row != 2 and row != 6)):  
            result_str=result_str+"*"    
        else:      
            result_str=result_str+" "    
    result_str=result_str+"\n"    
print(result_str);

  ***
 *   *
 *
 * ***
 *   *
 *   *
  ***

### 9. Write a Python program to calculate a dog's age in dog's years. Go to the editor
Note: For the first two years, a dog year is equal to 10.5 human years. After that, each dog year equals 4 human years.
Expected Output:

Input a dog's age in human years: 15                                    
The dog's age in dog's years is 73

In [3]:
h_age = int(input("Input a dog's age in human years: "))

if h_age < 0:
    print("Age must be positive number.")
    exit()
elif h_age <= 2:
    d_age = h_age * 10.5
else:
    d_age = 21 + (h_age - 2)*4

print("The dog's age in dog's years is", d_age)

Input a dog's age in human years:  34

The dog's age in dog's years is 149

In [5]:
for i in range(1,7,1):
    print("* "*i)
for k in range(7,1,-1):
    print("* "*k)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *