### ...python practice assignment

### 1.Solve the expression. 5.2 + True + bool(-5) - 4 + 42//5 +bool(0) + False + int(5.9) + float('1')

In [2]:
part1=5.2
part2=True
part3=bool(-5)
part4=-4
part5=42//5
part6=bool(0)
part7=False
part8=int(5.9)
part9=float('1')

result=part1+part2+part3+part4+part5+part6+part7+part8+part9
print(result)

17.2

### 2.Write code to test whether the given number lies between 1 and 10

In [11]:
number = float(input("Enter a number to test: "))

if number >= 1 and number <= 10:
    print(f"{number} is between 1 and 10.")
else:
    print(f"{number} is not between 1 and 10.")

Enter a number to test:  7

7.0 is between 1 and 10.

### 3.sum the numbers from 1 to 20 using for loop

In [17]:
sum=0
for i in range(1,20+1):
    sum+=i
print(sum)

210

### 4.Display the numbers in reverse from 100 to 1

In [22]:
for i in range(100,1,-1):
    print(i, end= " ")

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2

### 5.Display multiples of 2 from 10 to 50 using range

In [36]:
for i in range(10,50+1,2):
    print(i)

10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

### 6.From the below nested dictionary, pick the word "Bangalore". 
d = {'1':'One','2':[1,{'Two':['Ch','Cbe','Salem',{'Place':[5,6,7,'Bangalore']}]}]}

In [25]:
d = {'1':'One','2':[1,{'Two':['Ch','Cbe','Salem',{'Place':[5,6,7,'Bangalore']}]}]}

In [29]:
d["2"][1]["Two"][3]["Place"][3]

'Bangalore'

### 7.Use functions to return square of numbers from 2 to 5

In [35]:
def square(number):
    return number*number
numbers=range(2,6)
for num in numbers:
    print(f"the squre of {num} is {square(num)}.")

the squre of 2 is 4.
the squre of 3 is 9.
the squre of 4 is 16.
the squre of 5 is 25.

### 8.Write a Python program which accepts a sequence of comma-separated numbers
### from user and generate a list and a tuple with those numbers

In [44]:
values=input("Enter the comma separated numbers:")
list1=values.split(",")
tuple1=tuple(list1)
print(list1)
print(tuple1)

Enter the comma separated numbers: 1,2,3,4,5,6,7,8,9,10

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']
('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

### 9. Write a Python program to display the first and last colors from the following list.
color_list = ["Red","Green","White" ,"Black"]

In [66]:
color_list=["Red","Green","White","Black"]
first_color=color_list[0]
last_color=color_list[-1]
print("First_color:",first_color)
print("Last_color:",last_color)

First_color: Red
Last_color: Black

### 10.Write a Python program to calculate number of days between two dates.
Sample dates : (2014, 7, 2), (2014, 7, 11)

In [73]:
from datetime import date
date1=date(2014,7,2)
date2=date(2024,7,11)

days=date2-date1
number_of_days=days.days
print(f"days between {date1} and {date2} is {number_of_days} days.")

days between 2014-07-02 and 2024-07-11 is 3662 days.