## Simple level Alphabets printing

In [45]:
for row in range(6):
    for col in range(5):
        if ((col==0 or col==4) and (row!=0)) or ((row==0 or row==3) and (col>0 and col<4)):
            print( "*",end=' ')
        else:
            print(end='  ')
    print()

  * * *
*       *
*       *
* * * * *
*       *
*       *

In [70]:
for row in range(7):
    for col in range(5):
        if ((col==0 or col==4) and (row!=0 and row!=6)) or ((row==0 or row==3 or row==6)and(col<4)):
            print( "*",end=' ')
        else:
            print(end='  ')
    print()

* * * *
*       *
*       *
* * * * *
*       *
*       *
* * * *

In [83]:
for row in range(7):
    for col in range(5):
        if ((col==0 ) and (row!=0 and row!=6)) or ((row==0  or row==6)and(col>0)):
            print( "*",end=' ')
        else:
            print(end='  ')
    print()

  * * * *
*
*
*
*
*
  * * * *

In [85]:
for row in range(7):
    for col in range(5):
        if ((col==0 or col==4) and (row!=0 and row!=6)) or ((row==0 or  row==6)and(col<4)):
            print( "*",end=' ')
        else:
            print(end='  ')
    print()

* * * *
*       *
*       *
*       *
*       *
*       *
* * * *

In [92]:
for row in range(7):
    for col in range(5):
        if ((col==0 ) and (row!=0 and row!=6)) or ((row==0 or row==3 or row==6)and(col<6)):
            print( "*",end=' ')
        else:
            print(end='  ')
    print()

* * * * *
*
*
* * * * *
*
*
* * * * *

In [97]:
for row in range(7):
    for col in range(5):
        if ((col==0 ) and (row!=0 )) or ((row==0 or row==3 )and(col<4)):
            print( "*",end=' ')
        else:
            print(end='  ')
    print()

* * * *
*
*
* * * *
*
*
*

In [111]:
for row in range(7):
    for col in range(5):
        if ((col==0 or col==4) and (row!=0)) or ((row==4 )and(col<4)):
            print( "*",end=' ')
        else:
            print(end='  ')
    print()

*       *
*       *
*       *
* * * * *
*       *
*       *

In [120]:
for row in range(7):
    for col in range(6):
        if ((col==2 ) and (row!=0)) or ((row==0 or row==6 )and(col<5)):
            print( "*",end=' ')
        else:
            print(end='  ')
    print()

* * * * *
    *
    *
    *
    *
    *
* * * * *

In [136]:
for row in range(8):
    for col in range(6):
        if ((col==0 ) and (row!=0)) or (( row==7 )and(col<5)):
            print( "*",end=' ')
        else:
            print(end='  ')
    print()

*
*
*
*
*
*
* * * * *

In [140]:
for row in range(7):
    for col in range(5):
        if ((col==0 or col==4) and (row!=0 and row!=6)) or ((row==0 or row==3 or row==6)and(col>0  and  col<4)):
            print( "*",end=' ')
        else:
            print(end='  ')
    print()

  * * *
*       *
*       *
* * * * *
*       *
*       *
  * * *