### .... Calculate the multiplication and sum of two numbers

In [72]:
def num (a,b):
    sum=a+b
    multi=a*b
    return sum,multi

In [74]:
num(10,25)

(35, 250)

### ....calculate the division of two numbers

In [201]:
def devision(a,b):
    div=a/b
    return div

In [203]:
devision(30,15)

2.0

### ....Print the sum of the current number and the previous number

In [131]:
def current_num(n):
    previous_num=0
    for i in range(1,n):
      sum=previous_num+i
      print(f"previous_num {previous_num} current_num {i} =",sum)
      previous_num=i

In [135]:
current_num(10)

previous_num 0 current_num 1 = 1
previous_num 1 current_num 2 = 3
previous_num 2 current_num 3 = 5
previous_num 3 current_num 4 = 7
previous_num 4 current_num 5 = 9
previous_num 5 current_num 6 = 11
previous_num 6 current_num 7 = 13
previous_num 7 current_num 8 = 15
previous_num 8 current_num 9 = 17

### ....Display numbers divisible by 5 from a list

In [193]:
num_list = [10, 20, 33, 46, 55]
print("Given list:", num_list)
print('Divisible by 5:')
for num in num_list:
    if num % 5 == 0:
        print(num)

Given list: [10, 20, 33, 46, 55]
Divisible by 5:
10
20
55

### ...Print characters from a string that are present at an even index number

In [19]:
def intersection(l1,l2):
    set1=set(l1)
    set2=set(l2)
    common_set=set1&set2
    intersection_list=list(common_set)
    return intersection_list

In [21]:
l1=[1,2,3,4,5]
l2=[4,5,6,7]
intersection(l1,l2)

[4, 5]

### ....Write a function to find the difference of two lists.

In [29]:
def difference(l1,l2):
    set1=set(l1)
    set2=set(l2)
    common_set=set1-set2
    return list(common_set)

In [38]:
l1=[1,2,5,7,9,10,15,18,19,20]
l2=[4,5,7,18,15,9,4,3,2,11,85]
difference(l1,l2)

[1, 10, 19, 20]

### ....Implement a function that returns the common elements in three lists.

In [42]:
def intersection(l1,l2,l3):
    set1=set(l1)
    set2=set(l2)
    set3=set(l3)
    common_set=set1.intersection(set2,set3)
    return list(common_set)

In [48]:
l1=[1,2,3,4,5]
l2=[4,5,6,7]
l3=[7,8,9]
intersection(l1,l2,l3)

[]

### ...Implement a function to generate the first n Fibonacci numbers.

In [52]:
def fibonacci(n):
    fib_sequence = []
    a, b = 0, 1
    while len(fib_sequence) < n:
        fib_sequence.append(a)
        a, b = b, a + b
    return fib_sequence

In [54]:
first_10_fibonacci = fibonacci(10)
print(first_10_fibonacci)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### ....Python program to interchange first and last elements in a list

In [21]:
def interchange(list):
    len(list)
    temp=list[0]
    list[0]=list[len(list)-1]
    list[len(list)-1]=temp
    return list

In [25]:
list=[10,30,18,20,15,15]
interchange(list)

[15, 30, 18, 20, 15, 10]

### ...Python Program to Swap Two Elements in a List

In [34]:
def swap(list,element1,element2):
    list[element1],list[element2]=list[element2],list[element1]
    return list

In [46]:
list=[10,23,5,17,19,17,20]
element1=3
element2=7
swap(list,element1-1,element2-1)

[10, 23, 20, 17, 19, 17, 5]