In [4]:
count=1
while count<=5:
   print("hello")
   count+=1

hello
hello
hello
hello
hello

In [16]:
count=1
while count<=5:
    print("hii",count)
    count+=1

hii 1
hii 2
hii 3
hii 4
hii 5

##### ......print number from 1 to 20

In [15]:
num=1
while num<=20:
    print(num)
    num+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

##### ......print number from 20 to 1

In [13]:
count=10
while count>=1:
    print(count)
    count-=1
print("end of loop")

10
9
8
7
6
5
4
3
2
1
end of loop

##### ......print table of five using while loop

In [15]:
table=1
while table<=10:
    print(table*5)
    table+=1

5
10
15
20
25
30
35
40
45
50

##### .....print the element following list

In [16]:
num=[2,4,18,38,44,89,93,100]
idx=0
while idx<len(num):
    print(num [idx])
    idx+=1

2
4
18
38
44
89
93
100

##### ....search for number x in this tuple using loop

In [13]:
num=(2,4,18,25,38,44,84,95,100)
x=44
i=0
while i<len(num):
       print(num[i])
       if (num[i]==x):
         print("found",x)
         break
       i+=1

2
4
18
25
38
44
found 44

In [15]:
i=1
while i<=8:
   if i==4:
      i+=1
      continue
   print(i)   
   i+=1

1
2
3
5
6
7
8

##### .....write a program to print sum of first 10 natural numbers

In [17]:
i=1
sum=0
while i<=10:
   sum=sum+i
   i+=1
print(sum)

55

#### .....write a program to print first 10 integers and their squres

In [19]:
i=1
while i<=10:
    print(i,i*i)
    i+=1

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100