#### .......for loop

In [2]:
x=[14,2,5,7,8]
for i in x:
    print(i*2)

28
4
10
14
16

#### .....print value from 20 to 1

In [291]:

for i  in range (20,1,-1):
      print(i)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2

In [24]:
x=[11,5,7,8,9]
ans=[]
for i in x:
    print(i*2)
    ans.append(i*2)
print(ans)

22
10
14
16
18
[22, 10, 14, 16, 18]

In [275]:
string="sprider man"
for i in  string:
    if i==" ":
        continue
    print(i.upper())

S
P
R
I
D
E
R
M
A
N

In [273]:
string="SPIDER MAN"
for i in string:
    if i==" ":
     continue
    print(i.lower(),end="")

spiderman

In [74]:
for i in range(1,20):
     if i%2==0:
      print(i)

2
4
6
8
10
12
14
16
18

In [82]:
for i in range(0,10):
    if i%2==0:
        print("hiii")
    else:
        print("by")

hiii
by
hiii
by
hiii
by
hiii
by
hiii
by

#### ...print  given vagetables using for loop

In [88]:
vegetables = ["Carrot", "Broccoli", "Spinach", "Potato", "Tomato"]
for i in vegetables:
    print(i)

Carrot
Broccoli
Spinach
Potato
Tomato

#### program to find a charecter

In [174]:
str2="hello world"
for i in str2:
   print(i)
   if i=="o":
      print("found charecter")
      break

h
e
l
l
o
found charecter

##### find a specific number using for loop

##### ......print multiplication table of given number

In [266]:
n=int(input("Enter a value:"))
for i in range(1,10):
    print(f"{n} * {i} = {i*n}")

Enter a value: 9

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81